<head>
	<title>NBA Lookup</title>
	<!-- Load styles -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="/nba-lookup/css/autocomplete.css">
	<link rel="stylesheet" href="/nba-lookup/css/main.css">
</head>

<body>
	<div class="page-container">
		<div class="header col-xs-12">
			<div class="col-sm-6"><img src="/nba-lookup/img/nba-logo.png" class="logo-img"/></div>
			<div class="col-sm-6 text-right"><h1>NBA Lookup</h1></div>
		</div>
		<div class="container content col-xs-12">