<div class="player-container col-sm-6 text-left">
	<img class="player-photo generic" src="/img/mystery-player.png"/>
	<div class="player-stats player-stats-right">
		<h3><span class="player-first-name">{cumulativeplayerstats.playerstatsentry.0.player.FirstName}</span> <span class="player-last-name">{cumulativeplayerstats.playerstatsentry.0.player.LastName}</span></h3>
		<h4>{cumulativeplayerstats.playerstatsentry.0.team.City} {cumulativeplayerstats.playerstatsentry.0.team.Name}</h4>
		<h5>#{cumulativeplayerstats.playerstatsentry.0.player.JerseyNumber} {cumulativeplayerstats.playerstatsentry.0.player.Position}</h5>

		<span class="stat-value">{cumulativeplayerstats.playerstatsentry.0.stats.PtsPerGame.#text}</span> :<span class="stat-category">{cumulativeplayerstats.playerstatsentry.0.stats.PtsPerGame.@abbreviation}</span><br/>
		<span class="stat-value">{cumulativeplayerstats.playerstatsentry.0.stats.AstPerGame.#text}</span> :<span class="stat-category">{cumulativeplayerstats.playerstatsentry.0.stats.AstPerGame.@abbreviation}</span><br/>
		<span class="stat-value">{cumulativeplayerstats.playerstatsentry.0.stats.RebPerGame.#text}</span> :<span class="stat-category">{cumulativeplayerstats.playerstatsentry.0.stats.RebPerGame.@abbreviation}</span><br/>
		<span class="stat-value">{cumulativeplayerstats.playerstatsentry.0.stats.StlPerGame.#text}</span> :<span class="stat-category">{cumulativeplayerstats.playerstatsentry.0.stats.StlPerGame.@abbreviation}</span><br/>
		<span class="stat-value">{cumulativeplayerstats.playerstatsentry.0.stats.BlkPerGame.#text}</span> :<span class="stat-category">{cumulativeplayerstats.playerstatsentry.0.stats.BlkPerGame.@abbreviation}</span><br/>
		<span class="stat-value">{cumulativeplayerstats.playerstatsentry.0.stats.PlusMinusPerGame.#text}</span> :<span class="stat-category">{cumulativeplayerstats.playerstatsentry.0.stats.PlusMinusPerGame.@abbreviation}</span><br/>
		<span class="stat-value">{cumulativeplayerstats.playerstatsentry.0.stats.FgPct.#text}</span> :<span class="stat-category">{cumulativeplayerstats.playerstatsentry.0.stats.FgPct.@abbreviation}</span><br/>
		<span class="stat-value">{cumulativeplayerstats.playerstatsentry.0.stats.MinSecondsPerGame.#text}</span> :<span class="stat-category">{cumulativeplayerstats.playerstatsentry.0.stats.MinSecondsPerGame.@abbreviation}</span><br/>

		<br/>
		<a href="/" class="btn btn-info new-search">New search</a> <a class="btn btn-info switch-player">Switch player</a> 
	</div>
</div>