<div class="player-container col-sm-12 text-center">
	<img class="player-photo generic" src="/nba-lookup/img/mystery-player.png"/>
	<div class="player-stats player-stats-center text-left">
		<h3><span class="player-first-name">{cumulativeplayerstats.playerstatsentry.0.player.FirstName}</span> <span class="player-last-name">{cumulativeplayerstats.playerstatsentry.0.player.LastName}</span></h3>
		<h4>{cumulativeplayerstats.playerstatsentry.0.team.City} {cumulativeplayerstats.playerstatsentry.0.team.Name}</h4>
		<h5>#{cumulativeplayerstats.playerstatsentry.0.player.JerseyNumber} {cumulativeplayerstats.playerstatsentry.0.player.Position}</h5>
		<span class="stat-category">{cumulativeplayerstats.playerstatsentry.0.stats.PtsPerGame.@abbreviation}</span>: <span class="stat-value">{cumulativeplayerstats.playerstatsentry.0.stats.PtsPerGame.#text}</span><br/>
		<span class="stat-category">{cumulativeplayerstats.playerstatsentry.0.stats.AstPerGame.@abbreviation}</span>: <span class="stat-value">{cumulativeplayerstats.playerstatsentry.0.stats.AstPerGame.#text}</span><br/>
		<span class="stat-category">{cumulativeplayerstats.playerstatsentry.0.stats.RebPerGame.@abbreviation}</span>: <span class="stat-value">{cumulativeplayerstats.playerstatsentry.0.stats.RebPerGame.#text}</span><br/>
		<span class="stat-category">{cumulativeplayerstats.playerstatsentry.0.stats.StlPerGame.@abbreviation}</span>: <span class="stat-value">{cumulativeplayerstats.playerstatsentry.0.stats.StlPerGame.#text}</span><br/>
		<span class="stat-category">{cumulativeplayerstats.playerstatsentry.0.stats.BlkPerGame.@abbreviation}</span>: <span class="stat-value">{cumulativeplayerstats.playerstatsentry.0.stats.BlkPerGame.#text}</span><br/>
		<span class="stat-category">{cumulativeplayerstats.playerstatsentry.0.stats.PlusMinusPerGame.@abbreviation}</span>: <span class="stat-value">{cumulativeplayerstats.playerstatsentry.0.stats.PlusMinusPerGame.#text}</span><br/>
		<span class="stat-category">{cumulativeplayerstats.playerstatsentry.0.stats.FgPct.@abbreviation}</span>: <span class="stat-value">{cumulativeplayerstats.playerstatsentry.0.stats.FgPct.#text}</span><br/>
		<span class="stat-category">{cumulativeplayerstats.playerstatsentry.0.stats.Fg3PtPct.@abbreviation}</span>: <span class="stat-value">{cumulativeplayerstats.playerstatsentry.0.stats.Fg3PtPct.#text}</span><br/>
		<span class="stat-category">{cumulativeplayerstats.playerstatsentry.0.stats.MinSecondsPerGame.@abbreviation}</span>: <span class="stat-value">{cumulativeplayerstats.playerstatsentry.0.stats.MinSecondsPerGame.#text}</span><br/>
		<span class="stat-category">{cumulativeplayerstats.playerstatsentry.0.stats.GamesPlayed.@abbreviation}</span>: <span class="stat-value">{cumulativeplayerstats.playerstatsentry.0.stats.GamesPlayed.#text}</span><br/>
		
		<br/>
		<a href="/nba-lookup" class="btn btn-info new-search">New search</a> <a class="btn btn-info" id="compare-player">Compare player</a> 
	</div>
</div>