<img class="player-photo generic" src="/img/mystery-player.png"/>


<h3>
<span class="player-first-name">{cumulativeplayerstats.playerstatsentry.0.player.FirstName}</span> <span class="player-last-name">{cumulativeplayerstats.playerstatsentry.0.player.LastName}</span></h3>
<h4>{cumulativeplayerstats.playerstatsentry.0.team.City} {cumulativeplayerstats.playerstatsentry.0.team.Name}</h4>
<h5>{cumulativeplayerstats.playerstatsentry.0.player.JerseyNumber} {cumulativeplayerstats.playerstatsentry.0.player.Position}</h5>
{cumulativeplayerstats.playerstatsentry.0.stats.PtsPerGame.@abbreviation}: {cumulativeplayerstats.playerstatsentry.0.stats.PtsPerGame.#text}<br/>
{cumulativeplayerstats.playerstatsentry.0.stats.AstPerGame.@abbreviation}: {cumulativeplayerstats.playerstatsentry.0.stats.AstPerGame.#text}<br/>
{cumulativeplayerstats.playerstatsentry.0.stats.RebPerGame.@abbreviation}: {cumulativeplayerstats.playerstatsentry.0.stats.RebPerGame.#text}<br/>
{cumulativeplayerstats.playerstatsentry.0.stats.PlusMinus.@abbreviation}: {cumulativeplayerstats.playerstatsentry.0.stats.PlusMinus.#text}<br/>
{cumulativeplayerstats.playerstatsentry.0.stats.StlPerGame.@abbreviation}: {cumulativeplayerstats.playerstatsentry.0.stats.StlPerGame.#text}<br/>
{cumulativeplayerstats.playerstatsentry.0.stats.BlkPerGame.@abbreviation}: {cumulativeplayerstats.playerstatsentry.0.stats.BlkPerGame.#text}<br/>
<br/>
<a href="/">Back to search</a>
