<div class="player-container col-sm-6">
	<form autocomplete="off" action="">
		<div class="input-group input-group-lg autocomplete" style="width: 100%;">
			<!-- Add a hidden label to this when adding CSS, and remove the style property on above -->
		  <input type="text" class="form-control search-input" id="trying-something" name="playerSearch" placeholder="Search for a player">
		</div>
	</form>
</div>

<div class="player-container col-sm-6">
	<form autocomplete="off" action="">
		<div class="input-group input-group-lg autocomplete" style="width: 100%;">
			<!-- Add a hidden label to this when adding CSS, and remove the style property on above -->
		  <input type="text" class="form-control search-input" name="playerSearch" placeholder="Search for a player">
		</div>
	</form>
</div>